[Desktop Entry]
Name=ForwardApp
Comment=Your Awesome Forward App
Exec=/opt/ForwardApp/forward-app %U
# Або для AppImage: Exec=/шлях/до/ForwardApp-1.0.0.AppImage %U
Icon=/opt/ForwardApp/resources/app.png
# Або для AppImage: Icon=forward-app (якщо іконка в стандартному місці)
Terminal=false
Type=Application
Categories=Utility; # Або інші категорії
MimeType=x-scheme-handler/forwardapp; # ВАЖЛИВО!
StartupNotify=true
Keywords=goals;tasks;productivity; # Опціонально
